aside {
    float: left;
    width: 17%;
    padding: 2.5%;
    height: 100vh;
    border-right: 3px solid #4d4d4d;
}

aside img {
    width: 60px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -2px;
    text-shadow: 6px 6px 6px #808080;
}

aside h4 {
    margin-top: 50px;
    font-size: 20px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #000;
    display: block;
    margin-top: 5px;
}

aside ul li:hover, aside ul a {
    color: #a2a341;
    transform: scale(1.05);
    text-decoration: none;
}

aside a.btn {
    margin-top: 50px;
    font-size: 20px;
}

aside h6 {
    font-size: 15px;
    text-align: right;
}
